body{
  background-color: #133156; 
}
.diet-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 50px;
    background-color: #133156; 
  }
  
  .diet-page-wrapper {
    min-width: 80vw;
    min-height: 80vh;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #133156; 
    border-radius: 20px;
  }
  
  .diet-page {
    min-width: 85vw;
    min-height: 70vh;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #133156; 
    border-radius: 15px;
   
    animation: fadeIn 1s ease-in-out;
  }
  
  .diet-plan-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 30vh;
    margin-top: 20px;
    padding: 10px;
    background-color: #133156; 
    border-radius: 15px;
    margin-top: 150px;
    margin-bottom: 100px;
  }
  
  .day-section {
    flex: 1;
    text-align: center;
    padding: 20px;
    background: #cae1ff62;
    color:  #ffffff;;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #114184 ;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px;
    max-height: 30vh;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
    transform-origin: center center;
  }
  
  .day-section:hover {
    transform: scale(1.2);
    box-shadow: 10px 10px 100px#64aaff;
  }
  
  .diet-page-title {
    font-size: calc(3rem + 2vw);
    font-weight: 600;
    margin-top: 30px;
    color:#ffffffdd;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-family: 'Playfair Display', Georgia, serif;
    border-bottom: 1px solid #ffffffdd;
  }
  
  .day-section h3 {
    font-size: 1.8rem;
    font-family: 'Playfair Display', serif;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .day-section p {
    font-size: 1.2rem;
    font-family: 'Playfair Display', serif;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .weekly-log-button {
    padding: 12px 24px;
    font-size: 2rem;
    border-radius: 20px;
    background: #235ca1dd;
    color: white;
    font-family: 'Playfair Display', Georgia, serif;
    border: none;
    cursor: pointer;
  }
  
  .weekly-log-button:hover {
    background: #789dcadd;
    transform: translateY(-2px);
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .meal-times {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .meal-time {
    position: relative;
    min-height: 60px;
    padding: 10px;
    border-radius: 8px;
    background-color:#265691;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .meal-time:hover {
    background-color: #4b84c9;
  }
  
  .meal-time .recipe-label {
    margin-top: 5px;
    font-size: 1rem;
    cursor: pointer;
    color: #f0f0f0;
  }
  
  .close-modal-button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #265691;
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .close-modal-button:hover {
    background-color: #265691;
  }
  
  .weekly-submit-button {
    background: linear-gradient(135deg, #1e69de, #235ca1);
    color: white;
    padding: 12px 25px;
    font-size: 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    margin-top: 20px;
  }
  
  .weekly-submit-button:hover {
    background: linear-gradient(135deg, #235ca1, #1e69de);
    transform: translateY(-3px);
  }
  
  textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ccc;
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 2rem;
    resize: none;
  }
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }